body {
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	color: rgb(80,80,80);
	/*padding-top: 20px;*/
}
 #kind{

	 position: absolute;
	 top: 0;
	 left: 8px;
 }

 b{
	 font-weight: 900;
 }

.clear {
	clear: both;
}

.shell {
	display: table;
	margin-left: auto;
	margin-right: auto;
	left: auto;
	right: auto;
	width: 800px;
	}
	table {
		/* .image {
			width: 500px;
		}
		.buttons{
			width: 100px;
		} */
		border-collapse:collapse;
	}

}

p {
  margin-top:0;
}
.buttons {
	vertical-align: top;
}
button {
	border: none;
	background-color: rgb(97,180,255);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: 500;
	display: block;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	width: 100%;
}
button:hover {
	background-color: rgb(145,202,255);
	cursor: pointer;
}

.top_right_corner {
  position:absolute;
  top:0;
  right:0;
}

img {
	padding:0px;
	max-width: 100%;
	max-height: 100%;
}

form {
	height: 100%;

}
p {
	padding-bottom:0px;
	margin-bottom: 0px;
	-webkit-margin-after: 0px;
}
hr {
	display: none;
}
/*.frame_viewer { width: 768px; } */

/* This hack hides the submit that localturk is appending to the form. */
input[type="submit"] {
	display: none;
}

/*
label {
	font-size: 18px;
	font-weight: 300;
	color: #4d5c7c;
	text-decoration: underline;
}
label:hover {
	cursor: pointer;
}

a {
	color: #4d5c7c;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	color: #6c7da1;
}
a:visited {
	text-decoration: none;
}
a.button {
	text-decoration: none;
}

.centerer {
	text-align: center;
}
*/
