.filler-background {
	text-align: center;
}

input[type="file" i] {
	visibility: hidden;
}

label {
	font-size: 18px;
	font-weight: 300;
	color: #4d5c7c;
	text-decoration: underline;
}

.bannerbox {
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	padding-top: 20px;
}

body .sock {
	overflow-x: hidden;
}

h1 {
	font-size: 48px;
	font-weight: 500;
	color: #4d5c7c;
	font-weight: 900;
	margin-bottom: 10px;
}

h2 {
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 20px;
	color: #4d5c7c;
	margin-bottom: 10px;
}

h3 {
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 20px;
	color: #4d5c7c;
	line-height: 1.4;
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 1.1;
	color: #787878;
}

h5 {
	font-weight: 100;
	font-size: 24px;
	color: #3c3c3c;
	line-height: 1.5;
}

a {
	color: #4d5c7c;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: #6c7da1;
}

a:visited {
	text-decoration: none;
}

a.button {
	text-decoration: none;
}

p {
	color: #787878;
}

.jumbotron p {
	font-size: 18px;
	color: #787878;
}

li {
	font-size: 18px;
	color: #3c3c3c;
	font-weight: 300;
}

blockquote {
	color: #3c3c3c;
}

.btn-xlg {
	text-decoration: none;
	text-align: center;
	background-color: #4d5c7c;
	line-height: 2.75;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-xlg:hover {
	background-color: #6c7da1;
	cursor: pointer;
}

label {
	color: #61b4ff;
	font-weight: 800;
	font-size: 24px;
}

label:hover {
	cursor: pointer;
}

.video {
	border-style: solid;
	border-color: #61b4ff;
	border-width: 10px;
	border-radius: 5px;
}

.wrapper {
	width: 96%;
	display: inline-block;
	position: relative;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

.wrapper:after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

iframe {
	position: absolute;
	height: 100%;
	width: 100%;
}

img {
	width: 100%;
}

.centerer {
	text-align: center;
}

.btn-lg {
	display: table;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #61b4ff;
	width: 100%;
	margin-top: 0px;
}

.btn-lg p {
	margin-bottom: 5px;
	margin-top: 5px;
	color: #fff;
	font-weight: 500;
}

.videolist p {
	font-weight: 500;
}

.bubble {
	background: #6c7da1;
	border-style: solid;
	padding: 10px;
	border-radius: 5px;
	border-color: #6c7da1;
}

.bubble h3 {
	color: #fff;
	margin-top: 0px;
	line-height: 24px;
}

.section {
	padding: 10px;
	margin-top: 40px;
	border-width: 1px;
	background-color: #fcfcfc;
	border-color: #c8c8c8;
	border-radius: 10px;
	border-style: solid;
	text-align: left;
}

.section img {
	width: 100%;
}

.section h2 {
	margin-top: 0px;
}

.section h3 {
	margin-bottom: 5px;
	color: #505050;
}

.section input {
	margin-left: 20px;
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	width: 200px;
	display: none;
}

.section .left {
	width: 100%;
	/* float: left; */
}

.section .left h3 {
	margin-top: 40px;
}

.section .left p {
	margin: 0px;
	line-height: 1;
	margin-bottom:10px;
	font-style:italic;
}

.section .right {
	/* width: 120px; */
	/* float: right; */
	margin-bottom: 0px;
}

.section .line {
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

.shell {
	display: table;
	margin-left: auto;
	margin-right: auto;
	left: auto;
	right: auto;
	width: 480px;
}

.idform {
	font-family: "Roboto";
	margin-top: 40px;
}

.idform .idfield {
	border-style: solid;
	border-color: #dcdcdc;
	font-size: 18px;
	color: #3c3c3c;
	border-radius: 5px;
}

.idform .idbutton {
	font-size: 24px;
	color: #3c3c3c;
}
@media(max-width: 980px){
	.shell{
		width: 100%;
	}
	.idform .idfield{
		font-size: 14pt;
		width: 100%;
	}
	.idform .idbutton{
		font-size: 14pt;
	}
	.section .left p {
		font-size:14pt;
	}
  h1 {
		font-size:36pt;
  }
  h2 {
		font-size:24pt;
    line-height:1;
  }
  h3 {
		font-size:18pt;
  }
  label {
		font-size:18pt;
  }
}
